/doc/
/lib/
/bin/
/.shards/

spec/functional/reports
e2e/wallets/developer_fund.yml
e2e/wallets/official_nodes.yml
developer_fund.yml
official_nodes.yml

*.log
*.db

*.DS_Store
*.sqlite3

e2e/wallets/*.json
e2e/db/*.db
e2e/logs/*.log

!.gitkeep

axentro_profile.sh

.vscode
.idea

elm-stuff
