version: 2
jobs:

  tests:
    docker:
      - image: crystallang/crystal:0.28.0
    steps:
      - checkout
      - run: |
          apt-get update
          apt-get install curl libsqlite3-dev -y
          apt-get install clang -y
      - run: |
          shards build --release
          crystal spec

  e2e-tests-all-public:
    docker:
      - image: crystallang/crystal:0.28.0
    steps:
      - checkout
      - run: |
          apt-get update
          apt-get install curl libsqlite3-dev -y
      - run: |
          shards build --release
          bin/e2e --mode=all_public --num_nodes=3 --num_miners=3 --time=300

  e2e-tests-all-private:
    docker:
      - image: crystallang/crystal:0.28.0
    steps:
      - checkout
      - run: |
          apt-get update
          apt-get install curl libsqlite3-dev -y
      - run: |
          shards build --release
          bin/e2e --mode=all_private --num_nodes=3 --num_miners=3 --time=300

  e2e-tests-one-private:
    docker:
      - image: crystallang/crystal:0.28.0
    steps:
      - checkout
      - run: |
          apt-get update
          apt-get install curl libsqlite3-dev -y
      - run: |
          shards build --release
          bin/e2e --mode=one_private --num_nodes=3 --num_miners=3 --time=300

  docker-build:
    machine: true
    steps:
      - checkout
      - run: |
          docker build -t sushichain/sushichain .

  docker-deploy:
    machine: true
    steps:
      - checkout
      - run: |
          docker login -u $DOCKER_USER -p $DOCKER_PASS
          docker build -t sushichain/sushichain .
          docker push sushichain/sushichain

workflows:
  version: 2

  sushi_workflow:

    jobs:
      - tests
      - e2e-tests-all-public
      - e2e-tests-all-private
      - e2e-tests-one-private
      - docker-build
      - docker-deploy:
          requires:
            - tests
            - e2e-tests-all-public
            - e2e-tests-all-private
            - e2e-tests-one-private
            - docker-build
          filters:
            branches:
              only: master
