[Unit]
Description=Axen
Requires=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/ubuntu/Axentro
ExecStart=/bin/bash -lc 'bin/axen -w <environment>-wallet.json --<environment> -u http://<environment>.axentro.io:80 -p 80 -d environment.sqlite3 --developer-fund=./developer_fund.yml --official-nodes=./official_nodes.yml'
TimeoutSec=60s
RestartSec=30s
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=axen

[Install]
WantedBy=multi-user.target